<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <title>자라나라: 더 이상 머리 망하지 마세요</title>
  </head>
  <body>
    <div class="container">
      <div class="modal-wrapper">
        <div class="modal">
          <img class="modal-img" src="{% static 'img/envelope.png' %}" alt="" />
          <div class="modal-text">
            환영합니다 🎉<br />출시되면 연락드릴게요!
          </div>
          <div class="modal-btn">알겠어요</div>
        </div>
      </div>
      <section class="home">
        <div class="home-contents">
          <div class="logo-wrapper">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="" />
          </div>
          <div class="home-cta">
            <div class="home-title">더 이상 머리 망하지 마세요.</div>
            <div class="home-subtitle">내 머리를 알고 실패없는 머리하기</div>
            <form class="home-form" method="POST" action="">
              {% csrf_token %}
              <input
                class="home-input"
                type="text"
                name="email"
                placeholder="이메일을 입력해주세요"
              />
              <input class="home-button" type="submit" value="시작하기" />
            </form>
          </div>
        </div>
      </section>
      <section>기능1</section>
      <section>기능2</section>
      <section>기능3</section>
      <section>자라나라를 이용 중인 분들의 이야기</section>
      <section>자주 묻는 질문</section>
      <footer></footer>
    </div>
  </body>
</html>
