<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="naver-site-verification"
      content="6dd6e171219a2762a315a5e9fd2912a8555e9962"
    />
    <meta
      name="google-site-verification"
      content="7RnxGRZBnNx_HqKguOMcfCWF_MEV7DRcWBiKuEs4b8A"
    />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-J4PSK7N7VZ"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-J4PSK7N7VZ');
    </script>
    <!-- Google tag (gtag.js) -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <title>자라나라: 더 이상 머리 망하지 마세요</title>
  </head>
  <body>
    <div class="container">
      <div class="modal-wrapper">
        <div class="modal">
          <img class="modal-img" src="{% static 'img/envelope.png' %}" alt="" />
          <div class="modal-text">
            환영합니다 🎉<br />출시되면 연락드릴게요!
          </div>
          <div class="modal-btn">알겠어요</div>
        </div>
      </div>
      <div class="logo-wrapper">
        <img class="logo" src="{% static 'img/logo.png' %}" alt="" />
      </div>
      <div class="gradient">
        <section class="home">
          <div class="home-contents">
            <div class="home-cta">
              <div class="home-title">더 이상 머리 망하지 마세요.</div>
              <div class="home-subtitle">내 머리를 알고 실패없는 머리하기</div>
              <a class="start-button" href="#end" style="color: #883fff"
                >🥇 가장 먼저 자라나라를 시작해보세요!</a
              >
            </div>
          </div>
        </section>
        <section class="problem">
          <div class="problem-bubble left">
            어떤 머리를 할 지 고르기 어려워...
          </div>
          <div class="problem-bubble right">
            미용실 가면 뭐라고 말해야 하지?
          </div>
          <div class="problem-bubble left">
            왜 맨날 말한 것보다 짧게 자르시는거야 🥲
          </div>
        </section>
      </div>
      <section class="solution">
        <div>나에게 맞는 헤어스타일을 추천받고</div>
        <div class="solution-text-bold">헛걸음 없는 머리하기!</div>
      </section>
      <section class="feat">
        <div class="feat-title">
          매번 머리 상태를 설명하는 데 지치셨나요?<br />
          알고 계신 헤어 정보를 입력해주세요!
        </div>
        <div class="feat-stitle">몰라도 괜찮아요! 자라나라가 도와드려요.</div>
      </section>
      <section class="feat">
        <div class="feat-title right">어떤 머리를 해야 할지 고민되시나요?</div>
        <div class="feat-stitle right">
          자라나라의 데이터로 이용자님과 비슷한 헤어를 가지고 계신 분들이 어떤
          머리를 했는지 알려드려요!
        </div>
      </section>
      <section class="feat">
        <div class="feat-title">
          상담 과정이 부담스러워 <br />
          “알아서 해주세요!” 라고 외치시나요?
        </div>
        <div class="feat-stitle">
          원하는 헤어 사진만 준비해 주세요! <br />디자이너와 미리 상담할 수
          있어요.
        </div>
      </section>
      <section>자라나라를 이용 중인 분들의 이야기</section>
      <!-- <section>자주 묻는 질문</section> -->
      <section class="end" id="end">
        <form class="home-form" id="home-form" method="POST" action="">
          {% csrf_token %}
          <input
            class="home-input"
            type="text"
            name="email"
            placeholder="이메일을 입력해주세요"
          />
          <input class="home-button" type="button" value="소식받기" />
        </form>
      </section>
      <footer></footer>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
    <script></script>
  </body>
</html>
