@import url(./reset.css);
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;

  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  width: 60vh;
  height: 45vh;
  background: white;

  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;

  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.modal-img {
  width: 20vh;
}

.modal-text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
}

.modal-btn {
  padding: 1rem 2rem 1rem;
  margin: 0.5rem 0 2rem;

  background: #883fff;

  font-size: 1rem;
  font-weight: 600;
  color: white;

  border-radius: 1rem;
}

.home {
  background: linear-gradient(to bottom, #883fff, 80%, white);
}

.home-contents {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 20vh;
}

.logo-wrapper {
  position: sticky;
  top: 0;
}

.logo {
  width: 180px;
  padding: 2rem 0 2rem;

  align-self: flex-start;
}

.home-cta {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  /* font-family: 'Cafe24Ssurround'; */
  font-size: 4rem;
  font-weight: 900;

  color: white;
}

.home-subtitle {
  padding: 1rem;

  /* font-family: 'Cafe24Ssurround'; */
  font-size: 1.5rem;
  font-weight: 600;

  color: #c29dff;
}

.home-form {
  width: 100%;
  padding: 3rem 0 3rem;

  text-align: center;
}

.home-input {
  height: 4rem;

  margin: 1rem;
  padding: 1rem 22rem 1rem 2rem;

  background: white;
  border: 5px solid #883fff;
  border-radius: 2rem;

  font-size: 1rem;
}

.home-button {
  height: 4rem;
  padding: 1rem 3rem 1rem;

  cursor: pointer;

  background: #883fff;

  border: 5px solid #883fff;
  border-radius: 2rem;

  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

/* 태블릿 */

@media (min-width: 768px) and (max-width: 991px) {
  .home-contents {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 20vh;
  }

  .logo {
    width: 150px;
    padding: 2rem 0 2rem;

    align-self: flex-start;
  }

  .home-title {
    /* font-family: 'Cafe24Ssurround'; */
    font-size: 3rem;
    font-weight: 900;

    color: white;
  }

  .home-subtitle {
    padding: 1rem;

    /* font-family: 'Cafe24Ssurround'; */
    font-size: 1.2rem;
    font-weight: 600;

    color: #c29dff;
  }

  .home-input {
    height: 3.5rem;

    margin: 1rem;
    padding: 1rem 15rem 1rem 2rem;

    background: white;
    border: 3px solid #883fff;
    border-radius: 2rem;

    font-size: 0.8rem;
  }

  .home-button {
    height: 3.5rem;
    padding: 1rem 2rem 1rem;

    cursor: pointer;

    background: #883fff;

    border-radius: 2rem;

    font-size: 0.8rem;
    font-weight: bold;
    color: white;
  }
}

/* 휴대폰 */

@media (max-width: 768px) {
  .modal {
    width: 80vw;
    height: 80vw;
    background: white;

    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
  }

  .modal-img {
    width: 30vw;
  }

  .modal-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .modal-btn {
    padding: 0.8rem 2rem 0.8rem;
    margin: 0.5rem 0 2rem;

    background: #883fff;

    font-size: 0.8rem;
    font-weight: 600;
    color: white;

    border-radius: 1rem;
  }

  .home-contents {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 5vh;
  }

  .logo {
    width: 120px;
    padding: 1rem 0 1rem;
  }

  .home-cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-title {
    width: 55vw;
    word-break: keep-all;

    align-self: flex-start;

    /* font-family: 'Cafe24Ssurround'; */
    font-size: 3rem;
    font-weight: bold;

    color: white;
  }

  .home-subtitle {
    padding: 1rem 0 1rem;
    align-self: flex-start;

    /* font-family: 'Cafe24Ssurround'; */
    font-size: 1rem;
    font-weight: 600;

    color: #c29dff;
  }

  .home-form {
    width: 100%;
    padding: 2rem 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-input {
    width: 100%;
    height: 3rem;

    margin: 1rem;
    padding: 1rem;

    background: white;
    border: 3px solid #883fff;
    border-radius: 2rem;

    font-size: 0.8rem;
  }

  .home-button {
    height: 3rem;
    padding: 0.5rem 2rem 0.5rem;

    cursor: pointer;

    background: #883fff;

    border-radius: 2rem;

    font-size: 0.8rem;
    font-weight: bold;
    color: white;
  }
}
