@import url(./reset.css);
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
}

.home {
  background: linear-gradient(to bottom, #883fff, 80%, white);
}

.home-contents {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.logo {
  width: 350px;
  padding: 2rem 5rem 2rem;

  align-self: flex-start;
}

.home-cta {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  font-family: 'Cafe24Ssurround';
  font-size: 4rem;
  font-weight: bold;

  color: white;
}

.home-subtitle {
  padding: 1rem;

  font-family: 'Cafe24Ssurround';
  font-size: 1.5rem;
  font-weight: 600;

  color: #c29dff;
}

.home-form {
  padding: 3rem 0 3rem;
}

.home-input {
  height: 4rem;

  margin: 1rem;
  padding: 1rem 22rem 1rem 2rem;

  background: white;
  border: 5px solid #883fff;
  border-radius: 2rem;

  font-size: 1rem;
}

.home-button {
  height: 4rem;
  padding: 1rem 3rem 1rem;

  cursor: pointer;

  background: #883fff;

  border: 5px solid #883fff;
  border-radius: 2rem;

  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

/* 휴대폰 && 태블릿 */

@media (max-width: 991px) {
  .home-contents {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .logo {
    width: 120px;
    padding: 1rem 0 1rem;
  }

  .home-cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-title {
    width: 50vw;
    word-break: keep-all;

    align-self: flex-start;

    font-family: 'Cafe24Ssurround';
    font-size: 3rem;
    font-weight: bold;

    color: white;
  }

  .home-subtitle {
    padding: 1rem 0 1rem;
    align-self: flex-start;

    font-family: 'Cafe24Ssurround';
    font-size: 1rem;
    font-weight: 600;

    color: #c29dff;
  }

  .home-form {
    width: 100%;
    padding: 2rem 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-input {
    width: 100%;
    height: 3rem;

    margin: 1rem;
    padding: 1rem;

    background: white;
    border: 3px solid #883fff;
    border-radius: 2rem;

    font-size: 0.8rem;
  }

  .home-button {
    height: 3rem;
    padding: 0.5rem 2rem 0.5rem;

    cursor: pointer;

    background: #883fff;

    border-radius: 2rem;

    font-size: 0.8rem;
    font-weight: bold;
    color: white;
  }
}
