@import url('./reset.css');

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100vw;
  height: 100vh;
  background: lightgreen;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.home {
  background: linear-gradient(to bottom, white, lightgreen);
}
